:root {
  --accent-color: #d2f65a;
  --background-muted: #f8f8f8;
  --text-default: #000000;
  --background-white: #ffffff;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Clash Display", sans-serif;
  background-color: var(--background-white);
  color: var(--text-default);
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-meta {
  font-size: 13px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-meta-small {
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.title {
  font-size: 80px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subtitle-large {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subtitle-medium {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-medium{
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 170%;
  letter-spacing: 0%;
}

/* HERO */

.hero-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
